.spells{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #384454; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  color: black;
  font-size: 14px;
}

.spells li {
  list-style: none;
  cursor: pointer;
  position: relative;
  background-color: White;
  margin: .5em;
  left: 8px;
  /*padding: .5em;*/
  height: 2.6em;
  border-radius: 4px;
  width: 150px;
}

.text {
  position: relative;
  left: 10px;
  top: 2px;
  text-align-all: center;
}

li {
  list-style-type: none;
}

.text {
  position: relative;
  left: 10px;
  top: 2px;
  text-align-all: center;
}

input {
  width: 145px;
  margin-left: 15px;
  height: 2.6em;
  background-color: white;
  margin-top: 10px;
}

.add-button{
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  width: 60px;
  height: 30px;
  background-color: rgb(23, 142, 30) !important;
  color:white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.delete-button {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  width: 60px;
  height: 30px;
  background-color: rgb(216,59,1) !important;
  color:white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.creatures li.selected:hover {
  /*background-color: #BBD8DC !important;*/
  color: white;
}

.spells li:hover {
  color: #607D8B;
  color: rgb(0, 120, 215);
  background-color: #DDD;
  left: .1em;
}
