<h1>GM-TOOL</h1>

<div class="creatures">

  <li class="creature" *ngFor="let creature of listedCreatures" (click)="onCreatureSelect(creature)">
    <span class="text">{{creature.name}}</span>
  </li>

  <button class="add-button" (click)="onAddButtonClick()">+</button>
  <button class="delete-button" (click)="onDeleteButtonClick()">-</button>
  <select [(ngModel)]="selectedCreature">
    <option *ngFor="let monster of this.allMonsters" [ngValue]="monster">{{monster['name']}}</option>
  </select>

</div>

<app-creature-detail [creature]="selectedCreature"></app-creature-detail>


