.creature-details {
  padding-left: 180px;
  background-color: white;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 70px;
}

.creature-details > * {
  margin: 10px;
  padding: 5px;
  background-color: #384454;
  color: white;
  border-radius: 5px;
}

.creature-details > * > * {
  margin: 10px;
}

.ability-scores{
  overflow: hidden;
}

.score {
  float: left;
  width: 40px;
}

.abilities {
  float: none;
}

.savingThrows {
  width: 100%;
  float: left;
}

.savingThrows div{
  float: left;
  margin-right: 10px;
}

.special-abilities {
}
.special-ability {
  float: left;
}

.actions {
}
