<div *ngIf="creature" class="creature-details">
  <h1>{{creature.name}}</h1>
  <div>Size {{creature.size}}, {{creature.type}}, {{creature.alignment}}</div>

  <div class="basic">
    <div>Armor Class {{creature.ac}}</div>
    <div>Hit Points {{creature.hp}}</div>
    <div>Speed {{creature.speed}}</div>
  </div>

  <div class="ability-scores">
    <div class="score">
      <div>STR</div>
      {{creature.str}}
    </div>
    <div class="score">
      <div>DEX</div>
      {{creature.dex}}
    </div>
    <div class="score">
      <div>CON</div>
      {{creature.con}}
    </div>
    <div class="score">
      <div>INT</div>
      {{creature.int}}
    </div>
    <div class="score">
      <div>WIS</div>
      {{creature.wis}}
    </div>
    <div class="score">
      <div>CHA</div>
      {{creature.cha}}
    </div>
  </div>

  <div class="abilities">
    <div class="savingThrows">
      <div> Saving Throws:</div>
      <div *ngIf="creature.save">Str +{{creature.save}},</div>
    </div>
    <div style="width: 100%; float: none;">
      <div *ngIf="creature.skill">Skills:</div>
      <div *ngIf="creature.resist">Damage Resistances: {{creature.resist}}</div>
      <div *ngIf="creature.immune">Damage Immunities: {{creature.immune}}</div>
      <div *ngIf="creature.conditionImmune">Condition Immunities: {{creature.conditionImmune}}</div>
      <div *ngIf="creature.senses">Senses: {{creature.senses}}</div>
      <div *ngIf="creature.passive">Passiv: {{creature.passive}}</div>
      <div *ngIf="creature.languages">Languages: {{creature.languages}}</div>
      <div *ngIf="creature.cr">Challenge: {{creature.cr}}</div>
    </div>
  </div>

  <div class="trait" *ngIf="creature.trait && isArray(creature.trait)">
    <h3>Traits</h3>
    <div *ngFor="let trait of creature['trait']" (cdivck)="onSelectAbility(trait)">
      <p><b>{{trait["name"]}}.</b> {{trait["text"]}}</p>
    </div>
  </div>

  <div class="trait" *ngIf="creature.trait && !isArray(creature.trait)">
    <h3>Traits</h3>
    <p><b>{{creature.trait.name}}.</b> {{creature.trait.text}}</p>
  </div>

  <div *ngIf="creature.action && isArray(creature.action)" class="actions">
    <h3>Actions</h3>
    <div class="test" *ngFor="let action of creature['action']">
      <p><b>{{action.name}}.</b> {{action.text}}</p>  {{action.attack}}
    </div>
  </div>

  <div *ngIf="creature.action && !isArray(creature.action)" class="actions">
    <h3>Actions</h3>
      <p><b>{{creature.action.name}}.</b> {{creature.action.text}}</p>
      <p>{{creature.action.attack}}</p>
  </div>

  <div *ngIf="creature['spells']" class="actions">
    <h3>Spells</h3>
    <div class="test">{{creature['spells']}}</div>
  </div>
</div>
